:root {
        /* colors variables */
        --clr_white: hsl(76, 100%, 100%);
        --clr_dark: hsla(0, 0%, 0%);
        --clr_gray: hsl(0, 0%, 41%);
        --clr_primary: rgba(26, 35, 46, 1);
        --clr_blue:rgb(38,98,140);
}

@custom-media --small (width <= 400px);
@custom-media --tablets (width <= 700px);
@custom-media --desktop (width >= 900px);

body {
        background-color: var(--clr_primary);
        color: var(--clr_white);
}
/* Box sizing rules */
*,
*::before,
*::after {
        box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
        margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
        list-style: none;
}

/* Set core root defaults */
html:focus-within {
        scroll-behavior: smooth;
}

/* Set core body defaults */
body {
        min-height: 100vh;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
        text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
        max-width: 100%;
        display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
        font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
        html:focus-within {
                scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
                animation-duration: 0.01ms !important;
                animation-iteration-count: 1 !important;
                transition-duration: 0.01ms !important;
                scroll-behavior: auto !important;
        }
}
