.introduction {
        text-align: Center;
        /* margin:100px 0; */
        & section:first-child {
                & div:first-child {
                        display: flex;
                        justify-content: space-around;
                        position: relative;
                        top: 60px;
                        /* left:50px; */
                        z-index: 2;
                        & .title {
                                /* background-color: green; */
                                font-size: 5vw;
                                line-height: normal;
                                & .secondetitle {
                                        display: flex;
                                        /* background-color:yellow; */

                                        align-items: center;
                                        justify-content: Center;
                                        & .letterD {
                                                height: 5.2vw;
                                                width: 10vw;
                                                /* background-color: red; */
                                                border: solid 1vw
                                                        var(--clr_white);
                                                border-radius: 0 50px 50px 0;
                                        }
			

                                }
                        }
                        & .socialMedia {
                                & * {
                                        margin: 12px;
                                        position: relative;
                                        right: -8vw;

                                        &:hover {
                                                cursor: pointer;
                                        }
                                }
			
				
                        }
                }
                & .coverSection {
                        position: relative;
                        right: -10vw;
                        height: 80vw;
			max-height:500px;
                        & .cover {
                                object-fit: cover;
                                border-radius: 80px 0 0 0;
                        }
                        & .stamp {
                                position: absolute;
                                bottom: -50px;
                                right: 10%;
                                z-index: 1;
                        }
                }
        }
        & p{
                color: var(--clr_gray);
                & span {
                        color: var(--clr_white);
                }
        }

        & section:nth-child(2) {
               margin:50px  0;
	       padding:5px;
	       line-height:50px;
	       & .image{
		margin:40px auto;
	       }
        }


}
