.footer{
	margin: 5vh 5vw;
	& hr{
		background-color:var(--clr_gray);
		height: 1px;
		border: none;

	}
	& section{
		padding:10px 0;

		& div{
			display:Flex;
			gap:20px;
			& :hover{
				cursor:pointer;
			}


		}
		& p{
			color:var(--clr_gray);
		}
	
		& h1{
			font-size:50px;
			line-height: normal;
			padding:10px 0;

}		
& h2,& p ,& div{
	padding:10px 0;

}	
& button{
	background-color:var(--clr_blue);
	border:none;
	color:var(--clr_white);
	display:flex;
	gap:10px;
	margin:10px 0;
	padding:10px 15px;
	border-radius:50px;
}	& :hover{
	cursor:pointer;
}
}}

@media(--desktop){
	.footer{																																																																																																																																																																																																																																																																																	
		
		& section{
			display:flex;
			justify-content:space-between;
			align-items:center;
			
		}

	}
}